:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color: #0f0f0f;
	background-color: #f6f6f6;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

input,
button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	color: #0f0f0f;
	background-color: #ffffff;
	transition: border-color 0.25s;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

/* TODO: gruvbox colors!!!! */

#yellowspan {
	color: yellow;
}

#redspan {
	color: red;
}

#bluespan {
	color: blue;
}

#greenspan {
	color: green;
}

button {
	cursor: pointer;
}

button:hover {
	border-color: #396cd8;
}
button:active {
	border-color: #396cd8;
	background-color: #e8e8e8;
}

input,
button {
	outline: none;
}

#form-container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto auto;
	gap: 10px;
}

#input-group {
	grid-column: 1;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}

#input-group > * {
    justify-self: center;
}

#first-label {
	justify-self: left;
}

#total-score > output {
	justify-self: center;
}

#total-score {
	grid-column: 1;
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
}

h1 {
	font-size: 1.5em;
}

.header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#management {
	grid-column: 1;
}

#input-value {
	grid-column: 2;
	text-align: center;
}

#score {
	grid-column: 3;
	text-align: center;
}

#submitbutton {
	grid-column: 1;
}

#total-score {
	grid-column: 1;
}

.container {
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 1em;
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #f6f6f6;
		background-color: #2f2f2f;
	}

	a:hover {
		color: #24c8db;
	}

	input,
	button {
		color: #ffffff;
		background-color: #0f0f0f98;
	}
	button:active {
		background-color: #0f0f0f69;
	}
}

input {
	width: 5em;
	text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
	margin: 0;
}

input::placeholder {
    text-align: center;
}